#detailChart-metric-name-header{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-border-width: 2pt;
    -fx-border-color: black;
}

#detailChart-table-key{
    -fx-font-size: 14;
    -fx-border-width: 1pt;
    -fx-border-color: grey;
}

#detailChart-table-value{
    -fx-font-size: 14;
    -fx-border-width: 1pt;
    -fx-border-color: grey;
}
