#chart-metric-label{
    -fx-font-size: 20pt;
    -fx-font-style: oblique;
    -fx-border-width: 2pt;
    -fx-border-color: black;
}

#chart-project-and-value{
    -fx-font-size: 16;
    -fx-font-style: oblique;
    -fx-border-width: 3pt;
    -fx-border-color: white black white white;
    -fx-padding: 0pt;
    -fx-border-insets: 0pt;

}

#chart-bar{
    -fx-font-size: 16;
    -fx-font-style: oblique;
    -fx-border-width: 0pt;
    -fx-font-fill: white;

}
